/* Element CSS */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  /* empty */
}

h3 {
	font-size: 1.8em;
}

/* Class CSS */
.container {
  /* empty */
}

.header {
  display: flex;
  direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 200px;
  color: white;
  background-color: navy;
}

.div1 {
  display: flex;
  height: 100%;
  width: max-content;
  /* background-color: chocolate; */
  padding-right: 15px;
  padding-left: 150px;
  align-items: center;
}

.div1 img {
  height: 190px;
  width: auto;
}

.div2 {
  display: flex;
  align-items: center;
  /* background-color: violet; */
  height: 100%;
  width: 200px;
  padding-right: 100px;
  border-right: 2px solid white;
}

.div3 {
  /* background-color: beige; */
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  padding-left: 20px;
}

.content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
	align-items: start;
	align-content: start;
	grid-auto-columns: min-content;
	line-height: 2em;
	margin-left: 100px;
	margin-right: 100px;
}

.content-title {
  grid-column: 1 / span 2;
	text-align: center;
  padding: 30px;
  font-size: 1.8em;
}

.content h3 {
	padding-bottom: 15px;
}

.content p {
	font-size: 1.2em;
	text-align: justify;
}

.Missing {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Missing img {
  height: auto;
	width: stretch;
  max-width: 100%;
}

.gaps {
	grid-row: 3 / span 2;
}

.conclusion {
	padding-top: 20px;
}